*{
  font-family: Arial, Verdana;
}
h1{
  font-family: Georgia;
  size: 32px;
  font-variant: small-caps;
}
h2{
  font-family: Georgia;
  size: 24px;
  font-variant: small-caps;
  font-style: oblique;
}
ul{
  font-weight: bold;
}
strong{
  font-weight: normal;
}
